div.nav {
    width : 200px !important;
    min-width : 200px !important;
    max-width : 200px !important;
    background: #f2f2f2;
}
/*  md-content와 nav의 배경색을 그레이로 주어서 전체 색깔이 grey가 되었다
    그후 mail-box 클래스(즉 실제 내용부분)은 white컬러와 html을 보면 md-whiteframe을 추가하여 입체감을 주어서 카드느낌이 나게 되었다*/
md-content {
    background: #f2f2f2;
}

.from-icon {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.mail-box {
    background: white;
}

.from-span {
    width: 100px;
}