div.nav {
    width : 200px !important;
    min-width : 200px !important;
    max-width : 200px !important;
    background: #f2f2f2;
}
/*  md-content와 nav의 배경색을 그레이로 주어서 전체 색깔이 grey가 되었다
    그후 mail-box 클래스(즉 실제 내용부분)은 white컬러와 html을 보면 md-whiteframe을 추가하여 입체감을 주어서 카드느낌이 나게 되었다*/
md-content {
    background: #f2f2f2;
}

.home-text{
    width: 150px;
}
.from-icon {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.mail-box {
    background: white;
    max-width: 900px;
}

.mail-box-list{
    padding: 0;
}

.from-span {
    width: 100px;
}
/* 찾기 창의 색을 변경하고 어느정도 패딩을 줌으로써 사각형안에 글을 쓰는 느낌을 준다. */
.find-form {
    padding: 5px;
    background: #E57373;
    border-radius: 3px;
}
.search_icon{
    margin-left: 20px;
    margin-right: 20px;
}
input.find-form-input{
    color: white;
}
/* 사이드바의 폰트를 바꿈 */
.nav_button {
    margin: 0;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}
/* 같은곳에서 시작하기 위해 icon의 width를 줌*/
.sidebar-icon {
    width: 50px;
}