<html lang="en" ng-app="StarterApp">

<head>
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.js"></script>
    <link rel="stylesheet" href="custom.css">
    <script src="app.js"></script>
</head>

<body layout="column" ng-controller="AppController">
    <!-- 깊이감을 위해 md-whiteframe을 추가하였다 -->
    <md-toolbar layout="row" class="md-whiteframe-4dp">
        <div class="md-toolbar-tools">
            <md-button ng-click="click_toggle()"  class="md-icon-button">
                <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg">
                </md-icon>
            </md-button>
            <h1 class="home-text">Inbox Test </h1>
            <!-- md-input-container 있으니깐 썻다. 쓴다면 나중에 여러 조건에서 쓰기 편리하다. material-angular의 홈페이지의 md-input 에 대해 알아보자-->
            <md-input-container class="find-form" flex>
                <input type="text" ng-model="find_mail" class="find-form-input">
            </md-input-container>
            <md-button class="md-icon-button">
                <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg">
                </md-icon>
            </md-button>
            <md-button class="md-icon-button">
                <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg">
                </md-icon>
            </md-button>
            <md-button class="md-icon-button">
                <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg">
                </md-icon>
            </md-button>

        </div>
    </md-toolbar>
    <div layout="row" layout="wrap" flex>
        <div layout="column" ng-show="nav" class="md-sidenav-left nav">
            <md-button class="md-accent">Button 1</md-button>
            <md-button class="md-accent">Button 2</md-button>
        </div>
        <!-- 일단 css에서 sidebar는 200px로 고정 나머지 부분을 전부다 contents로 하기 위해 flex를 사용.
        그리고 sidebar는 버튼클릭을 통해 보엿다 안보였다를 하기 위해 ng-show를 하였음-->
        <div layout="column" id="content" flex>
            <md-content layout="column" flex class="md-padding">
                <!-- 위아래는 전체를 채우는게 아니라 적당히 컨텐츠 크기에만 맞추면 됨으로 flex를 삭제했다-->
                <div layout="column" class="md-whiteframe-4dp mail-box">
                    <md-list class="mail-box-list">
                        <!-- ng-repeat을 통해 md-list-item을 반복한다 -->
                        <md-list-item ng-repeat="email in emails track by $index" layout="row">
                            <!-- 아이콘 창은 비워두었다-->
                            <md-icon class="md-avatar-icon from-icon" md-svg-icon=""></md-icon>
                            <span class="from-span"> {{email.from}}</span>
                            <span> {{email.title}} -</span>
                            <span> {{email.context}}</span>
                            <!--각 메일마다 경계선을 만들기 위해 md-divider을 사용하였다-->
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </div>
            </md-content>
        </div>
    </div>
<!-- Angular Material Dependencies -->
</body>

</html>