<div layout="column" class="md-sidenav-left nav" class="sidebar">
    <md-button class="nav_button">
        <md-icon aria-label="Menu" md-svg-icon="./icon/ic_email_white_24px.svg" class="sidebar-icon">
        </md-icon>
                <span flex>
                    Mail
                </span>
    </md-button>
    <md-button class="nav_button">
        <md-icon aria-label="Menu" md-svg-icon="./icon/ic_done_white_24px.svg" class="sidebar-icon">
        </md-icon>
                <span flex>
                    Check
                </span>
    </md-button>
    <md-button class="nav_button">
        <md-icon aria-label="Menu" md-svg-icon="./icon/ic_email_white_24px.svg" class="sidebar-icon">
        </md-icon>
                <span flex>
                    Mail
                </span>
    </md-button>
    <md-divider></md-divider>
    <md-button class="nav_button">
        <md-icon aria-label="Menu" md-svg-icon="./icon/ic_backup_white_24px.svg" class="sidebar-icon">
        </md-icon>
                <span flex>
                    Back up
                </span>
    </md-button>
    <md-button class="nav_button">
        <md-icon aria-label="Menu" md-svg-icon="./icon/ic_email_white_24px.svg" class="sidebar-icon">
        </md-icon>
                <span flex>
                    Mail
                </span>
    </md-button>
</div>