<!--  아마 여기에 어떻게 잘해서 위에 삼각형만 잘 만들면 inbox일텐데 그걸 모르겟다 ㅠ-->
<div id="star_menu" ng-show="star_show" class="md-whiteframe-1dp" layout="column">
    <div layout="row" flex>
        <md-button>
            <md-icon md-svg-icon="./icon/ic_email_white_24px.svg" class="star_menu_icon" flex>
            </md-icon>
        </md-button>
        <md-button>
            <md-icon md-svg-icon="./icon/ic_email_white_24px.svg" class="star_menu_icon" flex>
            </md-icon>
        </md-button>
        <md-button>
            <md-icon  md-svg-icon="./icon/ic_email_white_24px.svg" class="star_menu_icon" flex>
            </md-icon>
        </md-button>
    </div>
    <div layout="row" flex>
        <md-button>
            <md-icon  md-svg-icon="./icon/ic_email_white_24px.svg" class="star_menu_icon" flex>
            </md-icon>
        </md-button>
        <md-button>
            <md-icon md-svg-icon="./icon/ic_email_white_24px.svg" class="star_menu_icon" flex>
            </md-icon>
        </md-button>
        <md-button>
            <md-icon md-svg-icon="./icon/ic_email_white_24px.svg" class="star_menu_icon" flex>
            </md-icon>
        </md-button>
    </div>
</div>